nav {
  background-color: transparent;
  height: 100px;
  width: 1096px;
  margin: 50px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 80px;
    height: 40px;
  }

  .menu {
    width: 30px;
    height: 20px;
    display: none;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

  ul {
    width: 400px;
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      color: var(--Dark-grayish-blue);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--Soft-red);
      }
    }
  }
  .dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 300vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    animation: opacity 0.5s ease-in-out;

    .toggle-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      background-color: white;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      display: none;
      animation: slide 0.3s;

      .close-icon {
        align-self: flex-end;
        width: 25px;
        height: 25px;
        cursor: pointer;
        display: none;
      }

      ul {
        margin-top: 50px;
        width: 100%;
        text-align: left;

        li {
          margin: 15px 0;
          color: #000;
          cursor: pointer;
          transition: color 0.3s ease-in-out;

          &:active {
            color: var(--Soft-red);
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  nav {
    width: 500px;

    ul {
      display: none;
    }
    .menu {
      display: block;
    }
    .toggle-menu {
      ul {
        display: block;
      }
    }
    .dark-screen, .toggle-menu, .close-icon {
      display: block;

      .toggle-menu {
        display: block;

        .close-icon {
          display: block;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 375px) {
  nav {
    width: 340px;
    margin: 0;
  }
}
